* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f5f5;
}

/* Desktop view */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  color: #fff;
  padding: 15px 20px;
  position: relative;
}


.logo {
  font-size: 20px;
  font-weight: bold;
}
.hamburger:hover{
  color: purple;
}
.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: purple;
}

.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
}
/* Mobile view */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .nav-links {
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: -100%;
    background: #111;
    width: 100%;
    transition: left 0.3s;
  }
  .nav-links.active {
    left: 0;
  }
  .nav-links li {
    margin: 15px 0;
    text-align: center;
  }
}